---
---
<a href="/" class="flex items-center space-x-2">
  <span class="text-2xl text-tech-accent"><i class="fas fa-code"></i></span>
  <span class="font-bold text-white hover:text-tech-accent">TechFolio</span>
</a>