---
import '@fontsource/space-grotesk';

interface Props {
  title: string;
  description?: string;
}

const { 
  title,
  description = "Discover the latest in modern software technologies, programming trends, and development tools."
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-tech-dark font-space text-white min-h-screen">
    <div class="fixed inset-0 bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-tech-gray to-tech-dark -z-10 hover:border-tech-accent"></div>
    <slot />
  </body>
</html>